@mixin ubuntu400 {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
}

@mixin ubuntu500 {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
}

@mixin ubuntu700{
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
}