.footer {
    padding: 40px 0 48px;
    background-color: $dark-blue;
    color: $white;
    @include ubuntu500;

    &__inner {
        justify-content: space-between;
    }

    &__col {
        max-width: 290px;
        width: 100%;
        margin-left: 15px;
    }

    &__address-link {
        &--phone {
            margin-top: 23px;
        }
    }

    &__schedule,
    &__scheme {
        margin-top: 23px;
    }

    &__scheme{
        text-decoration: underline;
    }

    &__item {
        &+& {
            margin-top: 23px;
        }
        &--social{
            margin-top: 45px !important;
        }
    }

    &__link{
        &--social {
            position: relative;
            padding-left: 66px;
            text-decoration: underline;

            &::before {
                content: "";
                position: absolute;
                left: 0;
                top: -20px;
                width: 50px;
                height: 54px;
                background-image: url('../images/social-logo.svg');
            }
        }
    }
}