.header {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;

    &__top {
        min-height: 66px;
    }

    &__top-inner {
        min-height: 66px;
        align-items: center;
    }

    &__top-list {
        align-items: center;
        margin-left: auto;
    }

    &__top-item {
        &+& {
            margin-left: 49px;
        }
    }

    &__search,
    &__eye {
        height: 18px;
        background-size: cover;
        cursor: pointer;
    }

    &__search {
        width: 18px;
        background-image: url('../images/header-search.svg');
    }

    &__buy,
    &__phone {
        font-family: 'OpenSans', sans-serif;
    }

    &__buy {
        position: relative;
        min-width: 137px;
        padding: 6px 31px 5px 16px;
        border: 2px solid $gold;
        font-size: 12px;
        font-weight: 600;
        color: $gold;
        text-transform: uppercase;

        &::after {
            content: "";
            position: absolute;
            top: 0;
            right: 17px;
            height: 100%;
            border-right: 2px dashed $gold;
        }
    }

    &__phone {
        color: $white;
    }

    &__eye {
        width: 25px;
        background-image: url('../images/header-eye.svg');
    }

    &__main {
        background-color: rgba($dark-blue, 0.8)
    }

    &__main-inner {
        min-height: 68px;
        justify-content: space-between;
        align-items: center;
    }

    &__item {
        display: inline-block;
        &+& {
            margin-left: 38px;
        }
    }

    &__link {
        color: $white;
        @include ubuntu500;
        font-size: 16px;
        height: 100%;
    }

    &__btn {
        display: none;
    }

    &__btn-inner,
    &__btn-inner::after,
    &__btn-inner::before,
    &__btn.is-active &__btn-inner,
    &__btn.is-active &__btn-inner::after,
    &__btn.is-active &__btn-inner::before {
        width: 24px;
        height: 3px;
        background-color: $white;
        border-radius: 0;
    }


}