.hero {
    position: relative;
    margin-bottom: 100px;

    &__slider {

        &::before,
        &::after {
            content: "";
            position: absolute;
            z-index: 2;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }

        &::before {
            background: linear-gradient(90deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.05) 100%);
        }

        &::after {
            background: linear-gradient(180deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0) 100%);
        }
    }

    &__slide {
        height: 100vh;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
    }

    &__inner {
        position: relative;
    }

    &__box,
    &__pagination,
    &__online {
        position: absolute;
        z-index: 5;
    }

    &__box {
        left: 15px;
        bottom: 88px;
        color: $white;
    }

    &__title,
    &__link {
        @include bookantiqua;
    }

    &__title {
        font-size: 50px;
        line-height: 60px;
        letter-spacing: 0.02em;
    }

    &__text {
        margin-bottom: 42px;
        max-width: 550px;
        @include ubuntu400;
        font-size: 18px;
        line-height: 21px;
        letter-spacing: 0.02em;
    }

    &__link {
        position: relative;
        min-width: 200px;
        margin-bottom: 122px;
        padding: 11px 75px 10px 31px;
        border: 2px solid $gold;
        font-size: 13px;
        letter-spacing: 0.07em;
        text-transform: uppercase;

        &::before {
            content: "";
            position: absolute;
            top: 13px;
            right: 32px;
            width: 22px;
            height: 9px;
            background-image: url('../images/arrow-right.svg');
            background-repeat: no-repeat;
            background-size: cover;
        }
    }

    &__pagination {
        bottom: 15px;
        left: 0;
        right: 0;
    }

    &__online {
        bottom: 77px;
        right: 15px;
        max-width: 110px;
        text-align: center;
        color: #FAF7F3;
        @include bookantiqua;
        font-size: 18px;
        letter-spacing: 0.02em;
        &::before{
            content: "";
            position: absolute;
            width: 117px;
            height: 117px;
            border-radius: 50%;
            border: 2px solid $gold;
            top: -34px;
            left: -4px;
        }
    }
}